.content {
  margin-top: 50px;
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}


/* =========== CUSTOM ============ */
body {
  font-family: 'Roboto', sans-serif;
  background-color: antiquewhite;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2rem;
}

/* Nav */
.navbar {
  padding-top: 1rem;
}

/* Home */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.welcome .heading {
  margin-bottom: 7rem;
}

.welcome {
  background: antiquewhite;
  height: 100vh;
  /* margin-top: 7rem; */
  /* padding: 10rem 0;  */
  padding: 3% 0;
}

.btn {
  color: #333;
  font-weight: 600;
  padding: 1rem 3.5rem;
}
/* org */
.org.btn {
  background-color: #29e2ae;
}

.org-dark.btn {
  background-color: #72d3b8;
}


/* user */
.user.btn {
  background-color: #e2da29;
}

/* Event */
.event .desc {
  margin-top: 3rem;
}

/* Event List */
.list-group-item {
  margin-bottom: 2rem;
  padding: 4rem;
  background: transparent;
}

.list-group-item-heading {
  margin-bottom: 2rem;
}

/* register */
.register, .signin {
  margin-top: 5rem;
}

/* form */
.form-control {
  background: transparent;
  border: 1px solid #9b9999;
}

/* Display page */
.event-list {
  margin-top: 13rem;
}

.category {
  padding: 3rem 0;
}

.mapouter {
  float: right;
}

/* btn */
/* .nav > li > a:hover, .nav > li > a:focus {
  background:transparent;
  text-decoration: overline;
} */